<nav class="bg-white border-gray-200 text-center fixed top-0 w-full z-50 shadow-sm">
    <div class="max-w-6xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
        <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/logo.svg" alt="logo" class="object-cover [@media(max-width:640px)]:ml-0 ml-7 h-10 w-8 xl:ml-0 sm:w-8 sm:h-10" />
        </a>

        <button 
            type="button" 
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white-800 bg-white md:hidden hover:bg-gray-300 dark:text-black dark:hover:bg-white-900 focus:outline-none focus:ring-2 focus:ring-gray-300"
            aria-controls="navbar-default"
            (click)="toggleMenu()" 
            [attr.aria-expanded]="isMenuOpen">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

        <div 
            id="navbar-default"
            class="w-full md:block md:w-auto overflow-hidden transition-all duration-300 ease-in-out md:!max-h-none md:!opacity-100"
            [class.max-h-0]="!isMenuOpen"
            [class.max-h-96]="isMenuOpen"
            [class.opacity-0]="!isMenuOpen"
            [class.opacity-100]="isMenuOpen">
            <ul class="font-bold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:border-gray-700">
                <li><a (click)="goHome()" class="cursor-pointer block py-2 px-3 text-black hover:text-[#008F11] hover:underline  rounded-md transition md:hover:bg-transparent">HOME</a></li>
                <li><a (click)="logOut()" class="block py-2 px-3 text-black hover:text-[#008F11] hover:underline  rounded-md transition md:hover:bg-transparent cursor-pointer">LOG OUT</a></li>
                <li><a (click)="createPost()" class="cursor-pointer block py-2 px-3 text-black hover:text-[#008F11] hover:underline rounded-md transition md:hover:bg-transparent">CREATE POST</a></li>
                <li><a href="https://linkedin.com/in/dino-alfred-timbol-3b949a248" target="_blank" class="block py-2 px-3 text-black hover:text-[#008F11] hover:underline rounded-md transition md:hover:bg-transparent">LINKEDIN</a></li>
                <li><a href="https://github.com/neoboi76" target="_blank" class="block py-2 px-3 text-black hover:text-[#008F11] hover:underline rounded-md transition md:hover:bg-transparent">GITHUB</a></li>
            </ul>
        </div>
    </div>
</nav>